<% if current_user %>
   <header>
        <div class='header'>
            <h1 class='logo'>MemoApp</h1>
            <ul>
                <li>memo</li>
                <li><%= link_to 'logout', logout_path, method: :delete, data: {confirm: 'ログアウトしますか？'} %></li>
            </ul>
        </div>
   </header>
<% end %>